<div class="bg-black">

    <nav class="bg-black bg-opacity-50 fixed-top navbar navbar-expand-lg px-4 py-3">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/bakery-light.png" alt="logo" width="160" height="50">
        </a>

        <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="d-flex flex-column flex-lg-row gap-3 gap-lg-5 py-3 py-lg-0 me-lg-5">
                <a routerLink="/" class="text-decoration-none text-white fs-5">Home</a>
                <a routerLink="/about" class="text-decoration-none text-white fs-5">About</a>
                <a href="home.html#offer" class="text-decoration-none text-white fs-5">Our Offer</a>
                <a href="home.html#gallery" class="text-decoration-none text-white fs-5">Gallery</a>
                <a href="home.html#contact" class="text-decoration-none text-white fs-5">Contact</a>
            </div>
        </div>
    </nav>

    <div class="who p-4 p-lg-5 m-2 mt-5" id="about">
        <div class="row align-items-center g-4 pt-5">

            <div class="col-12 col-lg-6">
                <img src="assets/images/about.jpg" width="500" height="400" alt="About us" class="img-fluid w-80 rounded">
            </div>

            <div class="col-12 col-lg-6">
                <h1 class="text-white">About Us</h1>
                <p class="text-white-50 py-3 fs-5">
                    Family Bakery has been serving fresh, handcrafted bread and pastries for over 30 years. We are proud members of The Federation of Master Builders, and we pour our heart into every single recipe. From humble beginnings in a small kitchen to becoming a
                    community staple — our story is built on love, tradition, and quality.
                </p>
                <ul class="text-white-50 fs-6 list-unstyled">
                    <li>&gt; 30+ years of experience</li>
                    <li>&gt; 100% natural ingredients</li>
                    <li>&gt; Trusted by hundreds of families</li>
                    <li>&gt; Open 7 days a week</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="px-4 py-4 bg-white bg-opacity-10">
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">About us</h4>
                <p class="text-white-50 py-3">
                    We are the most amazing bakery theme of all time. Lorem ipsum dolor sit amet, consectetur. We are the champions!
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">Why we are special?</h4>
                <ul class="text-white-50 py-3 list-unstyled">
                    <li>&gt; Our magical recipe.</li>
                    <li>&gt; We care about environment.</li>
                    <li>&gt; We are trusted by hundreds of clients.</li>
                    <li>&gt; Social media loves us!</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">Opening Hours</h4>
                <ul class="text-white-50 py-3 list-unstyled">
                    <li>&gt; Monday 10AM - 9PM</li>
                    <li>&gt; Tuesday 10AM - 9PM</li>
                    <li>&gt; Wednesday 10AM - 9PM</li>
                    <li>&gt; Thursday 10PM</li>
                    <li>&gt; Friday 10PM</li>
                    <li>&gt; Weekends 11PM</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">Contact Details</h4>
                <ul class="text-white-50 py-3 list-unstyled">
                    <li>- Manchester Road 123</li>
                    <li>- +46 123 456 789</li>
                    <li>- hello@sitename.com</li>
                    <li>- http://www.sitename.com</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="d-flex flex-column align-items-center text-center py-4">
        <img src="assets/images/bakery-light.png" alt="logo" width="190" height="70" class="mb-3">
        <p class="text-white-50 mb-4">Copyright 2017. All rights reserved.</p>
        <div class="d-flex gap-4">
            <a href="#" class="social" target="_blank">
                <i class="fa fa-facebook text-white-50 fs-5"></i>
            </a>
            <a href="#" class="social" target="_blank">
                <i class="fa fa-google-plus text-white-50 fs-5"></i>
            </a>
            <a href="#" class="social" target="_blank">
                <i class="fa fa-linkedin text-white-50 fs-5"></i>
            </a>
            <a href="#" class="social" target="_blank">
                <i class="fa fa-twitter text-white-50 fs-5"></i>
            </a>
        </div>
    </div>

</div>