<div class="bg-black">

    <div class="position-relative">

        <img alt="bakarybackground" src="assets/images/bakary bg.jpg" class="w-100 vh-100 object-fit-cover opacity-55 rounded-5">

        <nav class="bg-black bg-opacity-50 fixed-top navbar navbar-expand-lg px-4 py-3">

            <a class="navbar-brand" href="#">
                <img src="assets/images/bakery-light.png" alt="logo" width="160" height="50">
            </a>

            <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="d-flex flex-column flex-lg-row gap-3 gap-lg-5 py-3 py-lg-0 me-lg-5">
                    <a routerLink="/" class="text-decoration-none text-white fs-5">Home</a>
                    <a routerLink="/about" class="text-decoration-none text-white fs-5">About</a>
                    <a href="home.html" class="text-decoration-none text-white fs-5">Our Offer</a>
                    <a href="home.html" class="text-decoration-none text-white fs-5">Gallery</a>
                    <a href="home.html" class="text-decoration-none text-white fs-5">Contact</a>
                </div>
            </div>

        </nav>

        <div class="position-absolute top-50 start-50 translate-middle text-center text-white px-3">
            <h4>Welcome To</h4>
            <h1>Family Bakery</h1>
            <p class="d-none d-sm-block">
                We're the biggest, best equipped and most advanced Bakery in the greater Los Angeles area.
            </p>

            <button type="button" class="btn btn-dark">Learn more</button>
            <button type="button" class="btn btn-light">Contact us</button>
        </div>

    </div>

    <div class="who p-4 p-lg-5 m-2">
        <div class="row align-items-center g-4">

            <div class="col-12 col-lg-6">
                <img src="assets/images/whoweare.jpg" alt="whoweare" class="img-fluid w-100 rounded">
            </div>

            <div class="col-12 col-lg-6">
                <h1 class="text-white">Who we are?</h1>
                <p class="text-white-50 py-3 fs-5">
                    We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.
                </p>
            </div>

        </div>
    </div>

    <div class="p-4 p-lg-5 m-2 bg-white bg-opacity-10">
        <div class="row align-items-center g-4">

            <div class="col-12 col-lg-6">
                <h1 class="text-white">Our Location</h1>
                <p class="text-white-50 py-3 fs-5">
                    We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house.
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <img src="assets/images/Our Location.jpg" alt="Our Location" class="img-fluid w-100 rounded">
            </div>

        </div>
    </div>

    <div class="p-4 p-lg-5 m-2 d-flex justify-content-center">

        <div class="py-3 text-center">
            <h1 class="text-white">Our Baking</h1>

            <p class="text-white-50 py-1 fs-5">
                Learn more about them. We have worked truly hard to make them perfect for every use.
            </p>
        </div>

    </div>

    <div class="d-flex flex-wrap justify-content-center gap-4 px-3 pb-5">

        <div class="text-center" style="flex: 1 1 300px; max-width: 400px;">
            <img src="assets/images/1.jpg" alt="1" class="img-fluid w-100">
            <h3 class="text-white py-3">Superior Breads</h3>
            <p class="text-white-50">
                Proin interdum, ante ut sollicitudin commodo.
            </p>
        </div>

        <div class="text-center" style="flex: 1 1 300px; max-width: 400px;">
            <img src="assets/images/2.jpg" alt="2" class="img-fluid w-100">
            <h3 class="text-white py-3">Bagels</h3>
            <p class="text-white-50">
                Proin interdum, ante ut sollicitudin commodo.
            </p>
        </div>

        <div class="text-center" style="flex: 1 1 300px; max-width: 400px;">
            <img src="assets/images/3.jpg" alt="3" class="img-fluid w-100">
            <h3 class="text-white py-3">Cookies</h3>
            <p class="text-white-50">
                Proin interdum, ante ut sollicitudin commodo.
            </p>
        </div>

    </div>

    <div class="p-4 p-lg-5 m-2 bg-white bg-opacity-10">
        <div class="row align-items-center g-4">

            <div class="col-12 col-lg-6">
                <h1 class="text-white">Contact Information</h1>
                <p class="text-white-50 py-3 fs-5">
                    I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <ul class="text-white-50 fs-6 list-unstyled">
                    <li>Our contact details:</li>
                    <li>&gt; Manchester St 123-78B, Random 713, UK</li>
                    <li>&gt; +46 123 456 789</li>
                    <li>&gt; +37 431 456 789</li>
                    <li>&gt; hello@sitename.com</li>
                </ul>
            </div>

            <div class="col-12 col-lg-6">
                <iframe src="https://www.google.com/maps?q=Manchester&output=embed" class="w-100" height="400"></iframe>
            </div>

        </div>
    </div>

    <div class="px-4 py-4 bg-white bg-opacity-10">

        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">About us</h4>
                <p class="text-white-50 py-3">
                    I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur. I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur. We are the champions! We are the most amazing theme of all
                    time, yeah.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">Why we are special?</h4>
                <ul class="text-white-50 py-3 list-unstyled">
                    <li>&gt; Our magical recipe.</li>
                    <hr>
                    <li>&gt; We care about environment.</li>
                    <hr>
                    <li>&gt; We are trusted by hundreds of clients.</li>
                    <hr>
                    <li>&gt; Social media loves us!</li>
                    <hr>
                    <li>&gt; This list is super easy to create.</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">Opening Hours</h4>
                <ul class="text-white-50 py-3 list-unstyled">
                    <li>&gt; Monday 10AM - 9PM</li>
                    <hr>
                    <li>&gt; Tuesday 10AM - 9PM</li>
                    <hr>
                    <li>&gt; Wednesday 10AM - 9PM</li>
                    <hr>
                    <li>&gt; Thursday 10PM</li>
                    <hr>
                    <li>&gt; Friday 10PM</li>
                    <hr>
                    <li>&gt; Weekends 11PM</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="text-white">Contact Details</h4>
                <ul class="text-white-50 py-3 list-unstyled">
                    <li>- Manchester Road 123</li>
                    <hr>
                    <li>- +46 123 456 789</li>
                    <hr>
                    <li>- hello@sitename.com</li>
                    <hr>
                    <li>- http://www.sitename.com</li>

                </ul>
            </div>

        </div>

    </div>

    <div class="d-flex flex-column align-items-center text-center py-4">

        <img src="assets/images/bakery-light.png" alt="logo" width="190" height="70" class="mb-3">

        <p class="text-white-50 mb-4">
            Copyright 2017. All rights reserved.
        </p>

        <div class="d-flex gap-4">
            <a href="https://www.facebook.com" class="social icon-facebook" target="_blank">
                <i class="fa fa-facebook icon-primary text-white-50 fs-5"></i>
            </a>

            <a href="https://www.google.com" class="social icon-google-plus" target="_blank">
                <i class="fa fa-google-plus icon-primary text-white-50 fs-5"></i>
            </a>

            <a href="https://www.linkedin.com" class="social icon-linkedin" target="_blank">
                <i class="fa fa-linkedin icon-primary text-white-50 fs-5"></i>
            </a>

            <a href="https://www.twitter.com" class="social icon-twitter" target="_blank">
                <i class="fa fa-twitter icon-primary text-white-50 fs-5"></i>
            </a>
        </div>

    </div>

</div>